<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/styleBar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-rotate@0.1.4/dist/leaflet-rotate-src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const _floorPlanUrl = /*[[${floorPlanUrl}]]*/ 0;
        const _buildingId = /*[[${buildingId}]]*/ 0;
        const _floor = /*[[${floor}]]*/ 0.0;

        /*]]>*/
    </script>

</head>
<body>

<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


<div class="main">
    <div id="map"></div>
</div>

<div class="sideBar">
    <div class="container pt-3 rounded">
        <p class="lead">Режим редактирования</p>
        <div class="container m-1">
            <div class="form-check">
                <input class="form-check-input editModeSelector" value="APPEND_PLACE" type="radio"
                       name="editModeSelector" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Добавление конечных точек
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="APPEND_MIDDLEWARE" name="editModeSelector"
                       id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Добавление навигационных точек
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="APPEND_ROUTE" name="editModeSelector"
                       id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    Прокладка маршрутов
                </label>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4 " id="placeSelectorContainer" hidden>
        <p class="lead">Целевой объект</p>
        <div class="container pe-3 ps-3">
            <p>Выберите объект, к которому должна быть привязана точка</p>
            <select class="form-select" id="placeSelector"
                    aria-label="Выберите объект, к которому должна быть привязана точка">

                <option th:each="place : ${placesList}" th:value="${place.id}" th:text="${place.name}">Название места
                </option>
            </select>
        </div>

    </div>
    <button type="button" onclick="sendGraph()" class="btn btn-success m-3">Сохранить изменения</button>

</div>
<script src="/public/js/admin.js"></script>
</body>
</html>
